@charset "UTF-8";
/* CSS Document */

@import 'style.css';
@import 'jquery.fancybox.css';
@import 'lightslider.css';
@import 'slicknav.css';
@import 'swiper.min.css';
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


@font-face {
    font-family: 'httpwhttpwordswithmeaning.org';
    src: url('../fonts/wordmean_font-webfont.eot');
    src: url('../fonts/wordmean_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wordmean_font-webfont.woff2') format('woff2'),
         url('../fonts/wordmean_font-webfont.woff') format('woff'),
         url('../fonts/wordmean_font-webfont.ttf') format('truetype'),
         url('../fonts/wordmean_font-webfont.svg#httpwhttpwordswithmeaning.org') format('svg');
    font-weight: normal;
    font-style: normal;

}